<h3>Nova usúario: </h3>
<div class="card">
  <div class="card-body">
   <form action="/admin/usuario/novo" method="post">
    <div class="mb-3">
        <label class="mb-2" for="nome">Seu nome</label>
        <input type="text" class="form-control" name="nome" placeholder="Nome">
    </div>
    <div class="mb-3">
        <label class="mb-2" for="email">E-mail</label>
        <input type="email" class="form-control" name="email" placeholder="E-mail">
    </div>
    <div class="mb-3">
        <label class="mb-2" for="senha">Senha</label>
        <input type="password" class="form-control" name="senha" placeholder="Senha">
    </div>
    <br />
    <button type="submit" class="btn btn-success">Criar novo usúario</button>
</form>

  </div>
</div>