.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .nav-item a, .navbar-brand{
    color: white;
  }

 .navbar-brand:hover{
    color: rgb(222, 220, 220);
  }

  .nav-item a:hover{
    color: rgb(222, 220, 220);
  }

  .navbar-toggler-icon{
    color: white;
  }

  .navbar-toggler{
    border: 1px solid white;
    border: none;
    box-shadow: none;
  }

  .cabecalho-botao-icone{
    color: white;
    font-size: 2rem;
    box-shadow: none;
  }